<br>
    <br>
    <br>
<div style="text-align: center; font-weight: bolder;">
<p-table  responsiveLayout="scroll" >
    <ng-template pTemplate="header" >
        
        <tr>
            <th>ProjectID</th>
            <th>Document Tag</th>
            <th>Documnet Type</th>
            <th>Status</th>
            <th>Upload</th>
            <th>Validate</th>
        </tr>

        
        <tr>
            <td>as123</td>
            <td>26AS</td>
            <td>txt</td>
            <td>Not Uploaded</td>
            <!-- <td><p-fileUpload mode="basic" name="myfile[]" url="http://localhost:3000/client" (onUpload)="myUploader($event)" accept=".txt">
            </p-fileUpload></td> -->

            <td>
                <p-fileUpload name="myfile" label="Upload" label="Upload" url="http://localhost:3000/file"  (onUpload)="myUploader($event)" accept=".txt"></p-fileUpload>
            </td>
            <td><p-button  label="validate" (click)="validate()"></p-button></td>

        </tr>

        <tr>
            <td>as212</td>
            <td>Sales Register</td>
            <td>xlsx</td>          
            <td *ngIf="!srg1">Not Uploaded</td>
            <td *ngIf="srg1">Uploaded</td>
        
            <!-- <td><p-fileUpload mode="basic" name="myfile[]" url="http://localhost:3000/client" (onUpload)="myUploader($event)" accept=".txt">
            </p-fileUpload></td> -->

            <td>
                <p-fileUpload name="myfile" label="Upload" url="http://localhost:3000/file"  (onUpload)="myUploader1($event)" accept=".xlsx"></p-fileUpload>
            </td>
            <td><p-button  label="validate" (click)="validate()"></p-button></td>

        </tr>

        <tr>
            <td>as212</td>
            <td>RPT</td>
            <td>xlsx</td>
            <td>Not Uploaded</td>
            <!-- <td><p-fileUpload mode="basic" name="myfile[]" url="http://localhost:3000/client" (onUpload)="myUploader($event)" accept=".txt">
            </p-fileUpload></td> -->

            <td>
                <p-fileUpload name="myfile" label="Upload" url="http://localhost:3000/file"  (onUpload)="myUploader2($event)" accept=".pdf"></p-fileUpload>
            </td>
            <td><p-button  label="validate" (click)="validate()"></p-button></td>

            
        </tr>
    </ng-template>
</p-table>
</div>